[
 {rabbit,[
    {reverse_dns_lookups, false},
    {default_vhost,       <<"/">>},
    {default_user,        <<"domainThing">>},
    {default_pass,        <<"thisDomainThingy">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {vm_memory_high_watermark, 0.9},
    {vm_memory_high_watermark_paging_ratio, 0.8}
  ]}
].